{% extends 'base.html' %}

{% block title %}post_list.html{% endblock %}
{% block style %}
h2.title {
  font-weight:bold;
}
{% endblock %}
{% block content %}

  <h1 class="display-3" style="font-weight:bold; color:#808080; margin:1% 15%;"># Posts</h1>

<br>
  <div class="text-right" style="margin:1% 15%;">
  <a href="{%url 'post:post_create'%}"><button type="button" class="btn btn-success" style="border-radius:15px;"><i class="fas fa-edit" ></i>글쓰기</button></a>
  </div>



    {% for post in posts %}
    <div class="row">
      <div class="col-sm">
        <div style="margin:1% 15%;" class="content">
          <span>{{ post.owner }}</span>
          <h2 class="title" onclick="location.href='{{ post.get_absolute_url }}'" style="cursor:pointer;">{{ post.title }}</h2>
          <p>{{ post.context|truncatewords_html:20|striptags}}</p>
          <p style="font-size:80%">{{ post.create_dt }}/{{ post.modify_dt }}</p>
        </div>
      </div>
    </div>
    <hr width=70%>
    {% endfor %}

<!--
    </div>
    <div class="col text-center">
      {% for num in page_obj.paginator.page_range %}
      {% if num == page_obj.number %}
        <a href="?page={{ num }}"><button type="button" class="btn btn-primary">{{ num }}</button></a>
      {% else %}
        <a href="?page={{ num }}"><button type="button" class="btn btn-secondary">{{ num }}</button></a>
      {% endif %}
      {% endfor %}
    </div>
    -->

{% endblock %}

{% block page_name %}{% endblock %}
