{% extends 'base.html' %}

{% block title %}main.html{% endblock %}

{% block style %}
h2.title{
  font-weight:bold;
}

{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-sm">
      <div style="margin:1% 15%;" class="content">
        <p style="font-weight:bold; font-size:130%; color:#808080; cursor:pointer;" onclick="location.href='{% url 'post:post_list' %}'">#post</p>
        <span>{{ posts.first.owner }}</span>
        <h2 class="title" onclick="location.href='{{ posts.first.get_absolute_url }}'" style="cursor:pointer;">{{ posts.first }}</h2>
        <p>{{ posts.first.context|truncatewords_html:20|striptags}}</p>
        <p style="font-size:80%">{{ posts.first.create_dt }}</p>
      </div>
    </div>
  </div>
  <hr width="70%">
  <div class="row">
    <div class="col-sm">
      <div style="margin:1% 15%;" class="">
        <p style="font-weight:bold; font-size:130%; color:#808080; cursor:pointer;" onclick="location.href='{% url 'photo:photolog_list' %}'">#photo</p>
        <h2 class="title" onClick="location.href='{{ photologs.first.get_absolute_url }}'" style="cursor:pointer;">{{ photologs.first.name }}</h2>
        <p>{{ photologs.first.content }}</p>
        <p style="font-size:80%">총 <code style="font-size:120%;">{{ photologs.first.photos.count }}</code>장의 사진&nbsp;{{ photologs.first.create_dt }}</p>

      </div>
    </div>
  </div>
  <hr width="70%">
  <div class="row">
    <div class="col-sm">
      <div style="margin:1% 15%;" class="">
        <div class="row">

        {% if buckets %}
        {% for bucket in buckets %}
          <div class="col-sm text-center">



          <span style="font-size:75%; margin-top:15px"><code style="font-size:110%;">{{bucket.create_dt|date:"Y년 M d일"}}&nbsp;{{ bucket.owner }}</code>의 버킷리스트</span>
          <p>{{ bucket.content }}</p>
        </div>
          {% endfor %}
        {% else %}
        없음
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
