<head>
  <title>{% block title %}{% endblock %}</title>
  <style>
  /* a:link {
                  color: black;
                  text-decoration: none;
              }*/
              {% block style %}{% endblock %}
  </style>
</head>


<body>
<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="p-4" style="background-color:#FFD8D8;">
      <h5 class="text-white h4">MENU BAR</h5>
      <!--<span class="text-muted">HOW CAN I USE THIS PLACE?</span>-->
      <div class="btn-group-lg" role="group" aria-label="Basic example">
        <a href="{% url 'hub:main' %}"><button type="button" class="btn btn-outline-light"><i class="fas fa-home" style="font-size:210%;"></i></button></a>
        <a href="{% url 'post:post_list' %}"><button type="button" class="btn btn-outline-light"><i class="fas fa-sticky-note" style="font-size:210%"></i></button></a>
        <a href="{% url 'photo:photolog_list' %}"><button type="button" class="btn btn-outline-light"><i class="fas fa-camera-retro" style="font-size:210%"></i></button></a>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-dark" style="background-color:#FFCECE;">
    <button class="navbar-toggler btn-outline-white" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>menu
    </button>
    {% block page_name %}{% endblock %}

    {% if user.is_active %}
    <span class="navbar-text">
      <div class="dropdown">
        <button class="btn btn-outline-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {% firstof user.get_short_name user.get_username %}
        </button>
        <div class="dropdown-menu dropdown-menu-right" style="background-color:#FFD8D8" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item text-black-50" href="{% url 'logout' %}">로그아웃</a>
        </div>
      </div>
    </span>
    {% endif %}
  </nav>
  <br><br>
  <div class="container">
    {% block content %}
    {% endblock %}
  </div>
</body>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/b3ea3593a1.js" crossorigin="anonymous"></script>
